*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* bg-colors */
    --dialog: rgb(245, 250, 252);
    --you: rgb(191, 233, 249);
    --he: rgb(220, 242, 250);

    /* text-colors */
    --darkColor: #000;
    --nameColor: rgb(140, 168, 180);
    --footerColor: rgb(204, 204, 204);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* article start */

.article{
    padding-top: 32px;
}

.article__container{
    display: grid;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 32px;
    margin-bottom: 32px;
    line-height: 18px;
}

.dialog {
    padding: 24px 16px;
    margin-left: 12px;
    margin-right: 12px;
    background-color: var(--dialog);
}

.dialog__line {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    margin-bottom: 12px;
}

.you {
    background-color: var(--you);
}

.he {
    background-color: var(--he);
}

.dialog__content {
}
.name {
}
.dialog__time {
}
.dialog__message {
}
.dialog__comment-wrap {
}
.dialog__comment {
}
.article__text {
}
.article__link {
}
.article__line {
}

/* article end */